/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end eric meyer's reset */
.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clear {
  display: inline-block;
}
/* hide IE mac \*/
* html .clear {
  height: 1%;
}
.clear {
  display: block;
}
/* */
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
}
html {
  background-color: #182931;
  background-image: url('https://s3.fightforthefuture.org/2017pledge/images/line.png?1507757462553');
  background-repeat: no-repeat;
  background-position: center 7rem;
  background-size: 45px 100%;
}
@media screen and (min-width: 640px) {
  html {
    background-position: center 15rem;
  }
}
body {
  color: #fff;
  font-family: 'open-sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  position: relative;
  text-align: center;
}
h1 {
  font-family: 'futura', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 640px) {
  h1 {
    font-size: 10rem;
  }
}
h1:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 6rem -2rem 8rem #272727;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: 'mr-eaves-sans', Helvetica, sans-serif;
  line-height: 1.1;
  margin: 0 auto 2rem;
}
h1.faqq {
  margin-bottom: 60px;
  margin-top: 40px;
  font-size: 6rem;
}
h1.faqq:after {
  box-shadow: none;
  font-size: 6rem;
}
h2 {
  margin: 8rem auto 8rem;
  font-size: 3rem;
  font-family: 'futura', sans-serif;
}
@media screen and (min-width: 480px) {
  h2 {
    font-size: 6rem;
  }
}
h3 {
  margin-bottom: 3rem;
  font-size: 3rem;
}
@media screen and (min-width: 640px) {
  h3 {
    font-size: 3rem;
  }
}
h4,
legend,
fieldset.employer > label {
  margin-bottom: 0;
  font-family: 'open-sans', sans-serif;
  font-size: 2.7rem;
  font-weight: 100;
}
h5 {
  font-size: 1.8rem;
  margin: 2rem auto 0.5rem;
}
@media screen and (min-width: 800px) {
  h5 {
    font-size: 1.8rem;
  }
}
a {
  color: #ffdc99;
  text-decoration: underline;
  font-weight: 600;
}
em {
  font-style: italic;
}
img {
  height: auto;
  max-width: 100%;
}
p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin: 0 auto 6rem;
  max-width: 58rem;
  width: 100%;
  color: #b4c6cf;
}
@media screen and (min-width: 640px) {
  p {
    font-size: 1.8rem;
  }
}
small {
  font-size: 75%;
}
strong {
  font-weight: 700;
}
.visually-hidden {
  color: transparent;
  height: 0;
  position: absolute;
  visibility: hidden;
}
.hidden {
  display: none;
}
.dissolve {
  background-color: #182931;
  background-clip: content-box;
  border-style: solid;
  border-width: 1rem 0;
  border-image-source: url('https://s3.fightforthefuture.org/2017pledge/images/dissolve.png?1507757462553');
  border-image-width: 15rem 0;
  border-image-slice: 25% 0 30%;
  border-image-outset: 14rem 0;
}
body > footer {
  background-color: #182931;
  color: rgba(255, 255, 255, 0.75);
  padding: 3rem 2rem;
  margin-bottom: 16rem;
}
@media screen and (min-width: 640px) {
  body > footer {
    margin-bottom: 10rem;
  }
}
body > footer .title {
  margin-bottom: 0.5rem;
  font-variant: small-caps;
  text-transform: uppercase;
  text-align: center;
}
header {
  padding-bottom: 1rem;
}
header h1 {
  max-width: 15ch;
  margin: 0 auto 4rem;
  padding: 2rem 0;
  background-color: #182931;
  line-height: 1.1em;
}
@media screen and (min-width: 640px) {
  header h1 {
    margin-bottom: 8rem;
    padding: 3rem 0;
  }
}
header h1:after {
  box-shadow: inset 2rem -2rem 18vw #182931;
}
header p {
  color: #fff;
  margin-bottom: 2rem;
}
nav ul {
  font-family: 'open-sans', sans-serif;
  font-size: 1.4rem;
  display: flex;
  height: auto;
  justify-content: center;
}
@media screen and (min-width: 640px) {
  nav ul {
    font-size: 1.8rem;
    transform: translate3d(0, 0, 0);
    transition: background-color 300ms;
  }
}
nav li {
  padding: 0 1rem;
  position: relative;
}
nav li::before {
  color: #545454;
  content: '|';
  position: absolute;
  top: 1.9rem;
  left: 0;
}
nav li:first-child {
  padding-left: 0;
}
nav li:first-child::before {
  content: none;
}
nav a {
  display: block;
  margin: 0 0 0 1rem;
  padding: 2rem 0;
  transition: transform 200ms;
  font-weight: 700;
}
@media screen and (min-width: 640px) {
  nav a:hover,
  nav a:active,
  nav a:focus {
    transform: scale(1.05);
  }
}
main {
  max-width: 1040px;
  margin: 4rem auto 0;
}
section {
  margin: 2.5rem auto 6rem;
  padding: 0 2rem;
  max-width: 1040px;
}
.countdown {
  font-size: 2rem;
  margin-bottom: 4rem;
}
.countdown strong {
  color: #ff2626;
}
.two-column {
  max-width: 80ch;
  padding: 0;
  display: flex;
}
.two-column section {
  width: 50%;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 800px) {
  .two-column section {
    padding: 0 5rem;
  }
}
#companies {
  margin-bottom: 14rem;
  padding: 0;
}
#companies ul {
  width: 14rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 480px) {
  #companies ul {
    width: 16rem;
  }
}
@media screen and (min-width: 640px) {
  #companies ul {
    width: 20rem;
  }
}
#companies ul li.company {
  width: 6rem;
  height: 6rem;
  margin: 1rem 0.5rem 2rem;
  background-color: #;
  border-radius: 10px;
  position: relative;
}
@media screen and (min-width: 480px) {
  #companies ul li.company {
    margin: 1rem 1rem 3rem;
  }
}
@media screen and (min-width: 640px) {
  #companies ul li.company {
    width: 8rem;
    height: 8rem;
  }
}
#companies ul li.company img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
}
#companies ul li.company .caption {
  width: 6rem;
  margin-top: 6.5rem;
  font-size: 1rem;
  font-weight: 100;
}
@media screen and (min-width: 640px) {
  #companies ul li.company .caption {
    width: 8rem;
    margin-top: 8.5rem;
    font-size: 1.2rem;
  }
}
#people {
  padding: 0;
}
#people ul li {
  max-width: 12rem;
  margin: 0 auto;
  color: #beced7;
  line-height: 3rem;
  font-size: 1.8rem;
  font-weight: 100;
  border-bottom: 1px #1b2e37 solid;
  padding: 6px;
}
@media screen and (min-width: 480px) {
  #people ul li {
    max-width: 20rem;
    font-size: 1.8rem;
  }
}
#people ul li:last-child {
  border-bottom: none;
}
#people a.more {
  margin-top: 2rem;
  display: block;
  color: #fff;
  font-size: 1.4rem;
}
#faq {
  margin-bottom: 0;
  max-width: 800px;
}
#faq p.question {
  margin-bottom: 2rem;
  color: #fff;
  font-weight: 700;
  font-size: 3.2rem;
}
#faq p.answer {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #132027;
}
#faq p.answer:last-child {
  margin-bottom: 5rem;
  padding-bottom: 0;
  border-bottom: none;
}
#orgs {
  margin-bottom: 12rem;
  max-width: 80ch;
}
#orgs h2 {
  margin-top: 0;
}
#orgs ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#orgs li.org {
  color: transparent;
  width: 10rem;
  height: 5rem;
  margin: 1rem 2rem;
  overflow: hidden;
  position: relative;
  text-indent: 100%;
  white-space: nowrap;
  filter: contrast(50%) brightness(120%) grayscale(100%);
}
@media screen and (min-width: 800px) {
  #orgs li.org {
    width: 12rem;
    height: 6rem;
  }
}
#orgs li.org img {
  position: absolute;
  top: 0;
  left: 0;
}
li.grey {
  background-color: #000;
}
ul.pledged {
  background-color: #223944;
  padding: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 17px 67px -4px rgba(13, 22, 26, 0.41);
  -moz-box-shadow: 0px 17px 67px -4px rgba(13, 22, 26, 0.41);
  box-shadow: 0px 17px 67px -4px rgba(13, 22, 26, 0.41);
  margin-bottom: 40px;
}
ul.pledged li {
  padding: 20px 20px 20px 20px;
  font-size: 2.2rem;
  text-align: left;
}
ul.pledged li span.number {
  max-width: 100%;
  border-radius: 100px;
  padding: 5px 12px 5px 12px;
  font-size: 2rem;
  color: #b5d8e8;
  background-color: #2f4a57;
  margin-right: 10px;
}
@keyframes bladeFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.spinner {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.spinner .blade {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -4%;
  height: 8%;
  width: 100%;
}
.spinner .blade > div {
  width: 25%;
  margin: 0 0 0 auto;
  height: 100%;
  background: #f80d1b;
  border-radius: 1000px;
  opacity: 1;
  animation-duration: 2s;
  animation-name: bladeFade;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.spinner .blade.d02 {
  transform: rotate(-30deg);
}
.spinner .blade.d02 > div {
  animation-delay: -0.16666667s;
}
.spinner .blade.d03 {
  transform: rotate(-60deg);
}
.spinner .blade.d03 > div {
  animation-delay: -0.33333333s;
}
.spinner .blade.d04 {
  transform: rotate(-90deg);
}
.spinner .blade.d04 > div {
  animation-delay: -0.5s;
}
.spinner .blade.d05 {
  transform: rotate(-120deg);
}
.spinner .blade.d05 > div {
  animation-delay: -0.66666667s;
}
.spinner .blade.d06 {
  transform: rotate(-150deg);
}
.spinner .blade.d06 > div {
  animation-delay: -0.83333333s;
}
.spinner .blade.d07 {
  transform: rotate(-180deg);
}
.spinner .blade.d07 > div {
  animation-delay: -1s;
}
.spinner .blade.d08 {
  transform: rotate(-210deg);
}
.spinner .blade.d08 > div {
  animation-delay: -1.16666667s;
}
.spinner .blade.d09 {
  transform: rotate(-240deg);
}
.spinner .blade.d09 > div {
  animation-delay: -1.33333333s;
}
.spinner .blade.d10 {
  transform: rotate(-270deg);
}
.spinner .blade.d10 > div {
  animation-delay: -1.5s;
}
.spinner .blade.d11 {
  transform: rotate(-300deg);
}
.spinner .blade.d11 > div {
  animation-delay: -1.66666667s;
}
.spinner .blade.d12 {
  transform: rotate(-330deg);
}
.spinner .blade.d12 > div {
  animation-delay: -1.83333333s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.pulse {
  animation-name: pulse;
  animation-iteration-count: 0;
}
.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}
.form-wrapper {
  max-width: 100%;
  margin: 4rem 0 10rem;
  padding: 0;
}
.form-wrapper.stuck {
  min-height: 24rem;
}
.petition-form {
  max-width: 74rem;
  margin: 0 auto;
  background-color: #213a46;
  -webkit-box-shadow: 0px 39px 67px -4px rgba(13, 22, 26, 0.41);
  -moz-box-shadow: 0px 39px 67px -4px rgba(13, 22, 26, 0.41);
  box-shadow: 0px 39px 67px -4px rgba(13, 22, 26, 0.41);
  border: 1px #213a46 solid;
  border-radius: 0.5rem;
  transform: translateY(0);
}
.petition-form.stuck {
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 100%;
  z-index: 9001;
  transition: transform 300ms;
  transform: translateY(-100%);
  border: none;
  border-top: 1px #111 solid;
}
@media screen and (min-width: 640px) {
  .petition-form.stuck input {
    height: 5rem;
    line-height: 4rem;
    border-radius: 0.5rem;
  }
  .petition-form.stuck .input-row {
    max-width: 80ch;
    margin: 0 auto;
  }
  .petition-form.stuck .input-row .input-column {
    width: 34%;
  }
  .petition-form.stuck .input-row .input-column:last-child {
    width: 30%;
  }
  .petition-form.stuck .submit {
    font-size: 1.8rem;
  }
}
.petition-form fieldset {
  padding: 2rem;
}
@media screen and (min-width: 800px) {
  .petition-form fieldset {
    padding: 2rem;
  }
}
.petition-form .input-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.petition-form .input-row .input-column {
  width: 49%;
  margin: 0.5rem 0;
}
.petition-form .input-row .input-column:last-child {
  width: 100%;
}
.petition-form input {
  width: 100%;
  height: 5rem;
  padding: 0 2rem;
  border: none;
  border-radius: 0.5rem;
  color: #767676;
  font-size: 1.6rem;
  font-family: 'mr-eaves-sans', Helvetica, sans-serif;
  font-weight: 700;
  line-height: 5rem;
}
@media screen and (min-width: 640px) {
  .petition-form input {
    height: 6rem;
    font-size: 1.8rem;
    line-height: 6rem;
  }
}
.petition-form input::placeholder {
  color: #767676;
  font-weight: 900;
  text-transform: uppercase;
}
.petition-form input[type="submit"] {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  background: #ff2626;
  border: none;
  color: #fff;
  font-size: 2.6rem;
  font-weight: 900;
  text-transform: uppercase;
  transition: top 150ms;
}
@media screen and (min-width: 640px) {
  .petition-form input[type="submit"] {
    font-size: 2rem;
  }
}
.petition-form input[type="submit"]:active,
.petition-form input[type="submit"]:focus {
  outline: none;
  top: 1px;
}
.petition-form input[type="submit"]:disabled {
  background: #ffa5a5;
}
.petition-form input[type="radio"] {
  display: none;
}
.petition-form fieldset.radio > label {
  margin: 1rem;
  padding: 0.75rem 3.25rem;
  border: 1px solid #8f8f8f;
  border-radius: 0.75rem;
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
}
.submitted::after {
  align-items: center;
  background-color: #182931;
  color: #fff;
  content: 'Thanks for signing up!';
  display: flex;
  font-size: 2rem;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: -3.5rem;
  left: 0;
}
.petition-form input[type=submit] {
  background: #ff2626;
}
@media screen and (min-width: 640px) {
  p {
    font-size: 2.2rem;
  }
  fieldset p.dis {
    font-size: 1.2rem;
    padding: 0;
    margin: 0px auto;
    color: #93a5ae;
    text-align: center;
    align: center;
  }
  fieldset p.dis a {
    color: #b9d2df;
  }
  .petition-form input[type=submit] {
    font-size: 3rem;
  }
}
p {
  line-height: 2.8rem;
  max-width: 69rem;
}
@media screen and (min-width: 640px) {
  .petition-form input[type="submit"] {
    font-size: 3rem;
  }
}
.modal-present {
  overflow: hidden;
  text-shadow: none;
}
.overlay {
  background: rgba(24, 41, 49, 0.9);
  opacity: 0;
  overflow: auto;
  padding: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 400ms ease-in-out;
  z-index: 9001;
}
@media screen and (min-width: 480px) {
  .overlay {
    padding: 2rem 3rem;
  }
}
@media screen and (min-width: 640px) {
  .overlay {
    padding: 2rem;
  }
}
.overlay.visible {
  opacity: 1;
}
.modal-content {
  background-color: #272727;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 2rem rgba(24, 41, 49, 0.3);
  display: block;
  margin: 0 auto;
  max-height: 80vh;
  max-width: 60rem;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 3rem;
  right: 5%;
  left: 5%;
  text-align: center;
  transition: opacity 400ms ease-in-out;
  width: 90%;
  z-index: 9002;
}
@media screen and (min-width: 640px) {
  .modal-content {
    margin: 5rem auto 0;
  }
}
@media screen and (min-width: 800px) {
  .modal-content {
    top: 5rem;
  }
}
.modal-content.visible {
  opacity: 1;
}
.modal-content h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
}
.modal-content h1:after {
  box-shadow: inset 2rem -1rem 4rem #272727;
}
@media screen and (min-width: 800px) {
  .modal-content h1:after {
    box-shadow: inset 14rem -1rem 5rem #272727;
  }
}
.modal-content a {
  color: #182931;
}
.modal-content p {
  margin-bottom: 1.5rem;
  color: #fff;
  font-weight: 100;
  line-height: 1.375;
}
.modal-content form {
  background-color: transparent;
  border: none;
}
.modal-content form fieldset.employer {
  padding: 0 2rem 2rem;
}
.modal-content form fieldset.employer label {
  margin: 1rem 0;
  display: block;
}
.modal-content form fieldset.employer input {
  margin: 0.5rem;
}
.modal-content form fieldset.employer input[type="text"] {
  width: 100%;
  display: inline;
}
@media screen and (min-width: 800px) {
  .modal-content form fieldset.employer input[type="text"] {
    width: 64%;
  }
}
.modal-content form fieldset.employer input[type="submit"] {
  width: 100%;
}
@media screen and (min-width: 800px) {
  .modal-content form fieldset.employer input[type="submit"] {
    width: 64%;
  }
}
.modal-content #share-this {
  margin-bottom: 2rem;
}
.modal-content #share-this h4 {
  margin-bottom: 2rem;
}
.modal-content .upper {
  padding: 5rem 0 2rem;
}
.modal-content .lower {
  padding: 3rem 0 2rem;
  background-color: #1e1e1e;
}
.modal-content .disclaimer {
  color: #182931;
}
.modal-content .disclaimer a:link,
.modal-content .disclaimer a:visited,
.modal-content .disclaimer a:hover,
.modal-content .disclaimer a:active {
  color: #182931;
}
.modal-content.no-frame {
  background-color: #182931;
  padding: 0;
}
.modal-content.no-frame .close-modal {
  color: #fff;
  z-index: 100;
}
.modal-content.no-frame .close-modal:hover {
  background-color: transparent;
}
.modal-content .share-button {
  width: 20rem;
  color: #fff;
}
.close-modal {
  background: transparent;
  border: none;
  color: #182931;
  cursor: pointer;
  font-size: 2.5rem;
  opacity: 0.4;
  position: absolute;
  right: 0.5rem;
  text-decoration: none;
  top: 0;
}
.close-modal:hover,
.close-modal:active {
  outline: none;
  color: #fff;
  opacity: 1;
}
#fixed-side-social-container {
  background-repeat: no-repeat;
  position: fixed;
  top: 39.7rem;
  left: -6rem;
  padding: 0px;
  transition: left 300ms;
  width: 5rem;
  z-index: 10;
}
@media screen and (min-width: 640px) {
  #fixed-side-social-container.fade-in {
    left: 0;
  }
}
#fixed-side-social-container a {
  border: 0;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
#fixed-side-social-container .social-icon {
  background-position: center center;
  background-size: contain;
  border: 0;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  background-image: url('https://s3.fightforthefuture.org/2017pledge/images/share/social-media.png?1507757462553');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  float: left;
  height: 4.9rem;
  margin-bottom: 1rem;
  opacity: 0.75;
  transition: opacity 200ms, left 200ms;
  width: 5rem;
}
#fixed-side-social-container .social-icon:hover {
  opacity: 0.99;
}
#fixed-side-social-container .twitter-icon {
  background-position: 0 -5.1rem;
}
#fixed-side-social-container .facebook-icon {
  background-position: 0 -10.2rem;
}
#fixed-side-social-container .calling-icon {
  background-position: 0 -15.3rem;
}
.share-button {
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
  height: 3.6rem;
  line-height: 2.571428571;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 200ms ease-in-out;
  width: 12.6rem;
}
.share-button.facebook,
.share-button.twitter,
.share-button.donate {
  background-repeat: no-repeat;
  padding-left: 2.5rem;
}
.share-button.facebook:hover,
.share-button.twitter:hover,
.share-button.donate:hover {
  box-shadow: inset 0 0 10rem 10rem rgba(0, 0, 0, 0.2);
}
.share-button.twitter,
.share-button.facebook {
  background-size: 2.2rem auto;
}
.share-button.twitter {
  background-color: #55acee;
  background-image: url('https://s3.fightforthefuture.org/2017pledge/images/share/twitter.png?1507757462553');
  background-position: 0.8rem 0.6rem;
}
.share-button.facebook {
  background-color: #3b5999;
  background-image: url('https://s3.fightforthefuture.org/2017pledge/images/share/facebook.png?1507757462553');
  background-position: 0.5rem 0.6rem;
}
.share-button.donate {
  background-color: #FC3660;
  background-image: url('https://s3.fightforthefuture.org/2017pledge/images/share/donate.png?1507757462553');
  background-position: 1rem 0.9rem;
}
/*# sourceMappingURL=core.css.map */