<div class="action_bar animated slideInUp hidden-alert">
<a class="close-box toggle-alert" title="Close" href="javascript:;"><button class="close-modal">×</button></a>

<div class="call"><img class="phone" src="/images/call.png"><h3>ACTION ALERT</h3><p>The TPP could come up for a vote anytime now. Call your representatives and let them know you're against it before it's too late!<h3 class=""><strong><a href="tel:+14243634877">+1 (424) END-4-TPP</a></strong></h3>
<span class="sub-info">(Actress Evangeline Lilly will walk you through it!)</span></div>
</div> 