#lineup, #whats-going-on, #tour-dates {
  font-family: @heading-font;
  letter-spacing: 0.1rem;
}

.announcement {
  display: flex;
  flex-wrap: wrap;
  font-size: ~'calc(4vw + 3px)';
  text-transform: uppercase;
  margin: 0 auto;

  @media screen and (min-width: @large-phone) {
    font-size: 3rem;
  }

  dd, dt {
    text-align: center;
  }

  dt {
    color: @white;
    width: 65%;
  }

  dd {
    width: 35%;
    margin-top: -.5rem;

  }

  a {
    color: @white;
  }

  .button {
    background-color: @grey-200;
    border: 1px solid @black;
    border-radius:.5rem;
    font-size: 1.1rem;
    margin: 0;
    padding: 0.3rem 0.6rem;

    &:hover {
    background-color: @grey-100;
    }

    @media screen and (min-width: @small-phone) {
      font-size: 1.4rem;
      padding: 0.7rem 1.2rem;
      margin-top: 0;
    }

    @media screen and (min-width: @large-phone) {
      font-size: 1.6rem;
      padding: .5rem 2rem;
    }
  }
}

.view-more {
  font-size: 1.4rem;
  font-style: italic;
  max-width: 64rem;
  text-align: center;
  margin: 1rem;
}
.view-more a {
  color:#696969;
}

.organized-by {
  align-items: center;
  color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: @large-phone) {
    flex-direction: row;
  }

  li {
    background: center center no-repeat;
    background-size: contain;
    margin: 1rem;
    max-width: 100%;
    width: 30rem;

    @media screen and (min-width: @large-tablet) {
      margin: 2rem;
      width: 40rem;
    }

    @media screen and (min-width: @large-laptop) {
      width: 51.2rem;
    }
  }

  .fight-for-the-future {
    background-image: url('/images/fight-for-the-future.png');
    height: 3.9rem;

    @media screen and (min-width: @large-phone) {
      bottom: -1.7rem;
      position: relative;
    }

    @media screen and (min-width: @large-tablet) {
      bottom: -2.3rem;
      height: 5.2rem;
    }

    @media screen and (min-width: @large-laptop) {
      height: 6.6rem;
    }
  }

  .firebrand-records {
    background-image: url('/images/firebrand-records.png');
    height: 11rem;

    @media screen and (min-width: @large-tablet) {
      height: 14.3rem;
    }

    @media screen and (min-width: @large-laptop) {
      height: 18.3rem;
    }
  }
}

.placeholder {
  width: 4rem;
  height: 4rem;
  margin-bottom: 0.5rem;
  background-color: @grey;
  border-radius: 10px;

  @media screen and (min-width: @large-phone) {
    width: 10rem;
    height: 10rem;
  }
}

.org-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  background-color: @white;
  border-radius: 4px;
  color: transparent;
  width: 8rem;
  height: 4rem;
  margin: 2rem;
  overflow: hidden;
  position: relative;
  text-indent: 100%;
  white-space: nowrap;
  filter: grayscale(100%);

  @media screen and (min-width: @small-tablet) {
    width: 12rem;
    height: 6rem;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}


  .action_bar {
    bottom: 0;
    left: 0;
    display:none;
    padding: 0.3rem 0.1rem 0.4rem 0.1rem;
    position: fixed;
    width: 100%;
    border-top: 1rem solid #791017;
    background: #ab151e;
    z-index: 9001;
    font-weight: 600;
    text-align: center;
  }
  .action_bar a {    
    text-decoration: none;
  }
  .action_bar .close-modal:hover {
    background: #791017;
  }
  .underline h3 { 
    border-bottom: 5px solid #000;
  }
    .phone {
    width:80px;
    padding-top:10px;
  }
  .sub-info {
    color:black;
    font-style: italic;
  }
   .trigger-alert {

  }

  .hidden-alert {

  }

  .toggle-alert {

  }
.close-box {
    float: right;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    padding: .5rem;
  }
.close-box a {
  pointer:cursor;
}
.call {
  padding: .5rem;
  margin: 2rem;
}

.countdown {
  font-size: 2rem;
}

.countdown h4 {
  margin-bottom: 0;
}

.countdown strong {
  color: @red-800;
}

.two-column {
  display: flex;
  max-width: 90ch;
  padding: 0;
}

.two-column section {
  width: 50%;
  padding: 0;
  margin: 0;

  @media screen and (min-width: @small-tablet) {
      padding: 0 5rem;
  }
}

#companies {
  padding: 0;
}

#companies ul {
  display: flex;
  flex-wrap: wrap;
}

#companies ul li {
  margin: 1rem;
}

#companies ul li .caption {
  width: 4rem;
  font-size: 1rem;

  @media screen and (min-width: @large-phone) {
    width: 10rem;
    font-size: 1.4rem;
  }
}

#people ul li {
  color: @gray;
  line-height: 3rem;
  font-size: 1.4rem;
  border-bottom: 1px #1d1d1d solid;

  &:last-child {
    border-bottom: none;
  }
}

#people .more {
  display: block;
  margin-top: 1rem;
  color: @white;
  font-size: 1.4rem;
}

#faq {
  margin-bottom: 0;
}

#orgs {
  margin-bottom: 18rem;
  max-width: 80ch;
}

#orgs h2 {
  margin-top:0;
}
