main {
  max-width: @large-tablet + 80px;
  margin: 4rem auto 0;
}

section {
  margin: 2.5rem auto 6rem;
  padding: 0 1rem;
  max-width: @large-tablet + 80px;
}

.two-column-list {
  list-style-position: inside;
  list-style-type: disc;
  margin: 1rem auto 5rem;
  text-align: left;
  width: 30rem;

  @media screen and (min-width: @large-phone) {
    column-count: 2;
    width: 60rem;
  }
}
