main {
  max-width: @large-tablet + 80px;
  margin: 4rem auto 0;
}

section {
  margin: 2.5rem auto 6rem;
  padding: 0 1rem;
  max-width: @large-tablet + 80px;
}

.share-this {
  display: none;
  position: fixed;
  top: 40%;

  @media screen and (min-width: @small-laptop) {
    display: block;
  }

  p {
    margin: 0 0 0.7rem;
  }

  a {
    background-color: darken(@white, 12%);
    border: 0;
    color: @white;
    font-weight: 600;
    display: block;
    font-size: 1.2rem;
    height: 3rem;
    font-variant: small-caps;
    margin-bottom: 1.5rem;
    padding: 0.7rem 1.5rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 200ms;

    &.twitter {
      background-color: @twitter-blue;
    }

    &.facebook {
      background-color: @facebook-blue;
    }

    &:hover, &:active, &:focus {
      text-decoration: underline;
    }

    &::after {
      background-image: url('/images/share/share-icons.png');
      background-repeat: no-repeat;
      background-size: 155%;
      border: 0;
      border-left: none;
      border-radius: 0 0.5rem 0.5rem 0;
      content: ' ';
      display: block;
      height: 3rem;
      position: absolute;
      top: -0;
      right: -2.8rem;
      width: 2.8rem;
    }

    &.twitter::after {
      background-color: @twitter-blue;
      background-position: 5px center;
    }

    &.facebook::after {
      background-color: @facebook-blue;
      background-position: -2rem center;
    }
  }
}

.two-column-list {
  list-style-position: inside;
  list-style-type: disc;
  margin: 1rem auto 5rem;
  text-align: left;
  width: 30rem;

  @media screen and (min-width: @large-phone) {
    column-count: 2;
    width: 60rem;
  }
}

.subheadline {
   text-transform: uppercase;
   color: @grey;
   background-color: @transparent-black;
   padding: 2.5rem;
   font-family: @heading-font;
   border-radius: 5px;
   font-size: 2.5rem;
   box-shadow: 3px 1px 1px black;
   max-width:100%;
   }

.box {
  background-color: @black;
  padding: 2rem;
  @media screen and (max-width: @small-tablet) {
    margin: 1rem;

  }
}
