<!doctype html>
<html>
<head>
  {% include meta.html %}
</head>

<body class="{{ page.collection }}">

{% capture share_url %}https://{{ site.url }}{{ page.url }}{% endcapture %}

<header{% unless page.page == 'home' %} class="{{ page.collection }}"{% endunless %}>
  <h1>{{ site.name }}</h1>

  <section class="dissolve">
    {{ page.header_content | default: '' | markdownify }}
  </section>

  {% include form.html action=site.action_network_form %}

  <nav class="dissolve">
    <ul id="nav-items">
      <li><a href="/#companies">Companies</a></li>
      <li><a href="/#people">People</a></li>
      <li><a href="/#orgs">Orgs</a></li>
      <li><a href="/#faq">FAQ</a></li>
    </ul>
  </nav>
</header>

<section id="companies">
  <section class="countdown dissolve">
    <h4>It's been <strong><span id="days-since"></span></strong> since the pledge launched. <strong><span id="days-remaining"></span> left.</strong></h4>
    <h4>Here's where companies stand:</h4>
  </section>

  <section class="two-column">
    <section>
      <h4>Has not yet signed.</h4>
      <h5>1B+ users</h5>
      <ul>
        {% for company in site.data.companies.unsigned %}
        <li>
          <div class="placeholder"></div>
          <div class="caption">{{ company }}</div>
        </li>
        {% endfor %}
      </ul>
    </section>
    <section>
      <h4>Has signed.</h4>
      <h5>1B+ users</h5>
      <ul>
        {% for company in site.data.companies.signed_big %}
        <li>
          <div class="placeholder"></div>
          <div class="caption">{{ company }}</div>
        </li>
        {% endfor %}
      </ul>
      <h5>1M+ users</h5>
      <ul>
        {% for company in site.data.companies.signed_medium %}
        <li>
          <div class="placeholder"></div>
          <div class="caption">{{ company }}</div>
        </li>
        {% endfor %}
      </ul>
    </section>
  </section>
</section>

<section id="people">
    <h4 class="dissolve">Here's where individuals stand:</h4>
    <section class="two-column">
      <section>
        <h4>Has not signed.</h4>
        <ul>
          {% for person in site.data.people.unsigned %}
          <li>
            {{ person }}
          </li>
          {% endfor %}
        </ul>
      </section>
      <section>
        <h4>Has signed.</h4>
        <ul>
          {% for person in site.data.people.signed %}
          <li>
            {{ person }}
          </li>
          {% endfor %}
        </ul>
        <a class="more" href="#">MORE</a>
      </section>
    </section>
</section>

<main>
  {{ content }}
</main>

<section id="orgs" class="dissolve">
  <h2>Supporting organizations:</h2>

  <ul class="org-logos">
    {% for org in site.data.orgs %}
    <li class="logo {{ org | slugify }}">
      {{ org }}
      <img src="/images/endorsements/{{ org | slugify }}.png" alt="{{ org }}">
    </li>
    {% endfor %}
  </ul>
</section>

{% include footer.html %}

<div id="fixed-side-social-container">
  <a id="tweet-button" class="social-icon twitter-icon twitter" title="Tweet this" href="https://twitter.com/intent/tweet?text={{ page.twittertext | default: site.twittertext | cgi_escape }}" target="_blank">Tweet</a>
  <a id="share-button" class="social-icon facebook-icon facebook" title="Share this" href="https://facebook.com/sharer.php?u={{ page.share_url | default: share_url | cgi_escape }}" target="_blank">Share</a>
</div>

{% include scripts.html %}

</body>
</html>
