<!doctype html>
<html>
<head>
  {% include meta.html %}
</head>

{% include actionbar.html %}

<body class="{{ page.collection }}">

{% capture share_url %}https://{{ site.url }}{{ page.url }}{% endcapture %}

<header{% unless page.page == 'home' %} class="{{ page.collection }}"{% endunless %}>
  <h1>Be on the right side of history.</h1>

  <section class="dissolve">
    {{ page.header_content | default: '' | markdownify }}

    <nav>
      <ul id="nav-items">
        <li><a href="/#companies">Companies</a></li>
        <li><a href="/#people">People</a></li>
        <li><a href="/#orgs">Orgs</a></li>
        <li><a href="/#faq">FAQ</a></li>
      </ul>
    </nav>
  </section>

  {% include form.html action="https://actionnetwork.org/petitions/take-action-now-to-stop-the-tpp/signatures" %}
  <!--
  <p class="disclaimer no-pad">
    You are signing <a href="https://actionnetwork.org/petitions/rock-against-the-tpp-tour-kick-off">this petition</a> telling Congress to stop the TPP.
    <a href="https://www.fightforthefuture.org" target="_blank">Fight for the Future</a> and <a href="http://www.citizenstrade.org/ctc/" target="_blank">Citizens Trade Campaign</a> will send you campaign updates. You can unsubscribe at any time.

    (<a href="https://www.fightforthefuture.org/privacy">Privacy Policy</a>)
  </p>
  -->
</header>

<section id="companies">
  <section class="countdown dissolve">
    <h4>It's been <strong><span id="days-since"></span></strong> since the pledge launched. <strong><span id="days-remaining"></span> left.</strong></h4>
    <h4>Here's where companies stand:</h4>
  </section>

  <section class="two-column">
    <section>
      <h4>Has not yet signed.</h4>
      <h5>1B+ users</h5>
      <ul>
        {% for company in site.data.companies.unsigned %}
        <li>
          <div class="placeholder"></div>
          <div class="caption">{{ company }}</div>
        </li>
        {% endfor %}
      </ul>
    </section>
    <section>
      <h4>Has signed.</h4>
      <h5>1B+ users</h5>
      <ul>
        {% for company in site.data.companies.signed_big %}
        <li>
          <div class="placeholder"></div>
          <div class="caption">{{ company }}</div>
        </li>
        {% endfor %}
      </ul>
      <h5>1M+ users</h5>
      <ul>
        {% for company in site.data.companies.signed_medium %}
        <li>
          <div class="placeholder"></div>
          <div class="caption">{{ company }}</div>
        </li>
        {% endfor %}
      </ul>
    </section>
  </section>
</section>

<section id="people">
    <h4 class="dissolve">Here's where individuals stand:</h4>
    <section class="two-column">
      <section>
        <h4>Has not signed.</h4>
        <ul>
          {% for person in site.data.people.unsigned %}
          <li>
            {{ person }}
          </li>
          {% endfor %}
        </ul>
      </section>
      <section>
        <h4>Has signed.</h4>
        <ul>
          {% for person in site.data.people.signed %}
          <li>
            {{ person }}
          </li>
          {% endfor %}
        </ul>
        <a class="more" href="#">MORE</a>
      </section>
    </section>
</section>

<main>
  {{ content }}
</main>

<section id="orgs" class="dissolve">
  <h2>Supporting organizations:</h2>

  <ul class="org-logos">
    {% for org in site.data.affiliated_orgs.support %}
    <li class="logo {{ org | slugify }}">
      {{ org }}
      <img src="/images/endorsements/{{ org | slugify }}.png" alt="{{ org }}">
    </li>
    {% endfor %}
  </ul>
</section>

<section>
  {% assign sorted_orgs = site.data.affiliated_orgs.endorse %}
  {% for org in site.data.affiliated_orgs.support %}
  {% assign sorted_orgs = sorted_orgs | push: org %}
  {% endfor %}
  {% assign sorted_orgs = sorted_orgs | sort %}
</section>

{% include footer.html %}

<!--
<div id="fixed-side-social-container">
  <a id="tweet-button" class="social-icon twitter-icon twitter" title="Tweet this" href="https://twitter.com/intent/tweet?text={{ page.twittertext | default: site.twittertext | cgi_escape }}" target="_blank">Tweet</a>
  <a id="share-button" class="social-icon facebook-icon facebook" title="Share this" href="https://facebook.com/sharer.php?u={{ page.share_url | default: share_url | cgi_escape }}" target="_blank">Share</a>
  <a id="share-button" class="social-icon calling-icon toggle-alert" title="Call Congress Today!" href="javascript:;">Call now!</a>
</div>
-->

{% include scripts.html %}

</body>
</html>
