<!doctype html>
<html>
<head>
  {% include meta.html %}
</head>

{% include actionbar.html %}

<body class="{{ page.collection }}">

{% capture share_url %}https://{{ site.url }}{{ page.url }}{% endcapture %}

<header{% unless page.page == 'home' %} class="{{ page.collection }}"{% endunless %}>
  <h1>Be on the right side of history.</h1>

  <section class="dissolve">
    {{ page.header_content | default: '' | markdownify }}

    <nav>
      <ul id="nav-items">
        <li><a href="/#companies">Companies</a></li>
        <li><a href="/#people">People</a></li>
        <li><a href="/#orgs">Orgs</a></li>
        <li><a href="/#faq">FAQ</a></li>
      </ul>
    </nav>
  </section>

  {% if page.layout == 'event' %}
    <section>
      {% include form.html action=page.action_network_form %}
      <p class="disclaimer no-pad">
        You are signing <a href="https://actionnetwork.org/petitions/rock-against-the-tpp-tour-kick-off">this petition</a> telling Congress to stop the TPP.
        <a href="https://www.fightforthefuture.org" target="_blank">Fight for the Future</a> will send you campaign updates. You can unsubscribe at any time.
        {{ page.extra_disclosure | default: '' | markdownify | replace: '<p>', '' | replace: '</p>', '' }}
        Ticket is required for entry but does not guarantee it. First come first serve. We suggest arriving early in case the event sells out, and to join us for a rally to stop the TPP!
        (<a href="https://www.fightforthefuture.org/privacy">Privacy Policy</a>)
      </p>
    </section>
  {% elsif page.page == 'home' %}
    <section>
      {% include form.html action="https://actionnetwork.org/petitions/take-action-now-to-stop-the-tpp/signatures" %}
      <!--
      <p class="disclaimer no-pad">
        You are signing <a href="https://actionnetwork.org/petitions/rock-against-the-tpp-tour-kick-off">this petition</a> telling Congress to stop the TPP.
        <a href="https://www.fightforthefuture.org" target="_blank">Fight for the Future</a> and <a href="http://www.citizenstrade.org/ctc/" target="_blank">Citizens Trade Campaign</a> will send you campaign updates. You can unsubscribe at any time.

        (<a href="https://www.fightforthefuture.org/privacy">Privacy Policy</a>)
      </p>
      -->
    </section>
  {% endif %}
</header>

<section id="companies">
  <section class="countdown dissolve">
    <h4>It's been <strong><span id="days-since"></span></strong> since the pledge launched. <strong><span id="days-remaining"></span> left.</strong></h4>
    <h3>Here's where companies stand:</h3>
  </section>

  <section class="two-column">
    <section>
      <h4>Has not yet signed.</h4>
      <ul>
        {% for company in site.data.companies.unsigned %}
        <li>
          {{ company }}
        </li>
        {% endfor %}
      </ul>
    </section>
    <section>
      <h4>Has signed.</h4>
      <ul>
        {% for company in site.data.companies.signed %}
        <li>
          {{ company }}
        </li>
        {% endfor %}
      </ul>
    </section>
  </section>
</section>

<section id="people">
    <h3 class="dissolve">Here's where individuals stand:</h3>
    <section class="two-column">
      <section>
        <h4>Has not signed.</h4>
        <ul>
          {% for person in site.data.people.unsigned %}
          <li>
            {{ person }}
          </li>
          {% endfor %}
        </ul>
      </section>
      <section>
        <h4>Has signed.</h4>
        <ul>
          {% for person in site.data.people.signed %}
          <li>
            {{ person }}
          </li>
          {% endfor %}
        </ul>
      </section>
    </section>
</section>

<main>
  {{ content }}
</main>

<!--
<section>
  <p>
    <a id="footer-share" href="https://facebook.com/sharer.php?u={{ page.share_url | default: share_url | cgi_escape }}" class="share-button facebook" target="_blank">Share
      this</a>
    <a id="footer-tweet" href="https://twitter.com/intent/tweet?text={{ page.twittertext | default: site.twittertext | cgi_escape }}" class="share-button twitter" target="_blank">Tweet
      this</a>
    <a id="footer-donate" href="https://donate.fightforthefuture.org/campaigns/rock-against-tpp" class="share-button donate" target="_blank">Donate</a>
  </p>
</section>
-->

<section id="orgs" class="dissolve">
  <h2>Supporting organizations:</h2>

  <ul class="org-logos">
    {% for org in site.data.affiliated_orgs.support %}
    <li class="logo {{ org | slugify }}">
      {{ org }}
      <img src="/images/endorsements/{{ org | slugify }}.png" alt="{{ org }}">
    </li>
    {% endfor %}
  </ul>
</section>

<section>
  {% assign sorted_orgs = site.data.affiliated_orgs.endorse %}
  {% for org in site.data.affiliated_orgs.support %}
  {% assign sorted_orgs = sorted_orgs | push: org %}
  {% endfor %}
  {% assign sorted_orgs = sorted_orgs | sort %}

  <p>
    <button id="toggle-list" class="link-style-button">Show all {{ sorted_orgs | size }} organizations</button>
  </p>

  <ul id="endorsements" class="two-column-list hidden">
    {% for org in sorted_orgs %}
    <li>{{ org }}</li>
    {% endfor %}
  </ul>

  <p>
    Does your organization want to join? <a href="mailto:team@fightforthefuture.org">Email us</a>.
  </p>
</section>

{% include footer.html %}

<!--
<div id="fixed-side-social-container">
  <a id="tweet-button" class="social-icon twitter-icon twitter" title="Tweet this" href="https://twitter.com/intent/tweet?text={{ page.twittertext | default: site.twittertext | cgi_escape }}" target="_blank">Tweet</a>
  <a id="share-button" class="social-icon facebook-icon facebook" title="Share this" href="https://facebook.com/sharer.php?u={{ page.share_url | default: share_url | cgi_escape }}" target="_blank">Share</a>
  <a id="share-button" class="social-icon calling-icon toggle-alert" title="Call Congress Today!" href="javascript:;">Call now!</a>
</div>
-->

{% include scripts.html %}

</body>
</html>
