---
layout: default
---

{% if page.show %}
{% include show-details.html %}
{% endif %}

{{ content }}

<section>
  <h2>
    Featuring:
  </h2>

  <ul class="artists">

    {% unless page.headliners %}
    <li class="featured-artist">
      <div class="artist-photo">
        <img src="/images/artists/no-headliner.jpg" alt="" />
      </div>
      <p class="artist-name">
        Headliners announced soon
      </p>
    </li>
    {% endunless %}

    {% for performer in site.data.artists %}
    {% if page.performers contains performer.name %}
    {% include artist.html artist=performer %}
    {% endif %}
    {% endfor %}
  </ul>

  {% if page.more_tba %}
  <p>+ more TBA!</p>
  {% endif %}
</section>

<section>
  <h2>
    Artists performing in other cities include:
  </h2>

  <ul class="artists">
    {% assign counter = 0 %}
{% for performer in site.data.artists %}
  {% unless page.performers contains performer.name %}
    {% if counter < 6 %}
      {% include artist.html artist=performer %}
    {% else %}
      {% include artist.html artist=performer concealed=true %}
    {% endif %}
    {% assign counter = counter | plus: '1' %}
  {% endunless %}
{% endfor %}
  </ul>
  <button id="see-full-list" class="button">See full list</button>
</section>


<div id="phone-number-modal">

  <h4>3. Sign up to get important tour action alerts!</h4>

  <input type="hidden" id="form-extra_checkbox" name="extra_checkbox" value="sms-{{ page.tag }}" form="action-network-form"/>
  <label class="visually-hidden" for="form-phone_number">Phone number:</label>
  <input type="text" id="form-phone_number" name="member[phone_number]" class="phone" placeholder="Mobile number" form="action-network-form"/>
  <input type="submit" name="submit" value="GO" class="submit" form="action-network-form" id="submit-phone"/>

  <p class="disclaimer no-pad">
    Get mobile alerts and periodic messages from <a href="https://www.fightforthefuture.org/" target="_blank">Fight for the Future</a> and <a href="http://www.citizenstrade.org/ctc/" target="_blank">Citizens Trade Campaign</a>. Msg &amp;
    data rates may apply. Text STOP to
    <a href="sms:{{ page.sms_unsubscribe | remove: '(' | remove: ')' | remove: '-' }}">{{ page.sms_unsubscribe }}</a>
    to stop receiving messages.
    (<a href="https://www.fightforthefuture.org/privacy/">Privacy Policy</a>)
  </p>
</div>
