header {
  padding: 0 0 1rem;
  position: relative;
  text-align: center;

  h1 {
    max-width: 16ch;
    margin: 0 auto 4rem;
    padding: 2rem 0;
    background-color: @black;

    @media screen and (min-width: @large-phone) {
      margin-bottom: 12rem;
      padding: 4rem 0;
    }

    &:after {
      box-shadow: inset 4rem -4rem 18rem @black;
    }
  }

  p {
    color: @white;
    font-size: 1.4rem;
    line-height: 1.4;
    max-width: 57ch;
    margin-bottom: 2rem;
    
    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: @large-phone) {
      font-size: 1.8rem;
    }
  }
}

