.feature-boxes() {
  border-radius: 4px;
  color: @white;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  overflow: hidden;
}

.info-feature {
  .feature-boxes();
  align-items: center;
  background-color: fade(@white, 5%);
  border: solid 1px fade(@white, 47%);

  a {
    .button
  }

  h2, h3 {
    flex-basis: 100%;
    margin: 0;
  }

  time {
    color: @red-800;

    &::after {
      content: ': ';
      margin-right: 1rem;
    }
  }
}

.promotion {
  align-items: center;
  background-color: fade(@white, 5%);
  display: flex;
  flex-wrap: wrap;
  font-size: 4.7rem;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
}

.details {
  font-size: 2rem;
  margin: 0;
  max-width: 100%;
  padding: 2rem;
  width: 100%;
}

.location {
  margin: 0 1rem;
}

.featuring {
  color: lighten(@black, 48%);
}

.show-page-header {
  .feature-boxes();
  background-color: fade(black, 44%);
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  max-width: @small-tablet - 20px;
  padding: 2rem;
  text-align: left;

  @media screen and (min-width: @small-phone) {
    margin: 3rem;
  }

  @media screen and (min-width: @small-tablet) {
    margin: 3rem auto;
  }

  h2 {
    font-family: @heading-font;
    text-align: center;
    width: 100%;
  }

  p {
    @media screen and (min-width: @small-tablet) {
      width: 64rem;
    }
  }
}

